<div>
<% @graphs.each do |graph| %>
  <div style="float: left">
    <img src="data:image/png;base64,<%= Base64.encode64(graph[:png]) %>" usemap="#issuerelationsgraph<%= graph[:number] %>"/>
    <%= graph[:map] %>
  </div>
<% end %>
</div>

<script type="text/javascript">
$$('map area').each(function(node) {
  Event.observe(node, 'click', function(event) {
    var id = /#(\d+)/.exec(this.attributes['href'].value)[1];
    if (window.name == 'relationgraphpopup') {
      window.opener.document.location = '<%= issues_path %>/' + id;
      self.close();
    } else {
      document.location = '<%= issues_path %>/' + id;
    }
  });
});
</script>