<div id="issues-without-relation">
  <h5>Issues without relations</h5>
  <ul>
    <% @issues.each do |issue| %>
      <li><%= link_to issue, issue_path(issue) %></li>
    <% end %>
  </ul>
</div>
<div id="relations-graph-container"><img src="data:image/png;base64,<%= Base64.encode64(@image) %>" usemap="#G"/><%= @map %></div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'graph', :plugin => "redmine_relations_graph" %>
<% end %>
<%= javascript_include_tag 'graph', :plugin => "redmine_relations_graph" %>

