<style type="text/css">
#graph-legend {
  position: fixed;
  bottom: 0;
  background: #fff;
  border: 1px solid #000;
}
#graph-legend.on-left {
  left: 0;
}
#graph-legend.on-right {
  right: 0;
}

#graph-legend ul {
  list-style: none;
  padding: 0;
}
#graph-legend ul li {
  vertical-align: middle;
  padding: 5px;
  clear: both;
}

#graph-legend ul li span {
  vertical-align: middle;
  font: normal 12px arial;
}

#graph-legend ul li img {
  vertical-align: middle;
}
</style>
<div id="graph-legend" class="on-right">
  <ul style="list-style: none">
    <li><%= image_tag 'red_arrow.png', :plugin => 'redmine_relations_graph' %><span> — Open Blocker</span></li>
    <li><%= image_tag 'blue_arrow.png', :plugin => 'redmine_relations_graph' %><span> — Closed Blocker</span></li>
    <li><%= image_tag 'green_arrow.png', :plugin => 'redmine_relations_graph' %><span> — SubTask</span></li>
    <li><%= image_tag 'bold_issue.png', :plugin => 'redmine_relations_graph' %><span> — Issue from request</span></li>
    <li><%= image_tag 'thin_issue.png', :plugin => 'redmine_relations_graph' %><span> — Related issue</span></li>
  </ul>
</div>
<div>
<% @graphs.each do |graph| %>
  <div style="float: left">
    <img src="data:image/png;base64,<%= Base64.encode64(graph[:png]) %>" usemap="#issuerelationsgraph<%= graph[:number] %>"/>
    <%= graph[:map].html_safe %>
  </div>
<% end %>
</div>

<script type="text/javascript">
$('map area').on('click', function(event) {
    var id = /#(\d+)/.exec(this.attributes['href'].value)[1];
    window.open('<%= issues_path %>/' +  id, '_blank')
  });
$('#graph-legend').on('mousemove', function(event) {
  var element = $(event.target);
  if (element.hasClass('on-left')) {
    element.removeClass('on-left');
    element.addClass('on-right');
  } else {
    element.removeClass('on-right');
    element.addClass('on-left');
  }
});

</script>
