<div>
<% @graphs.each do |graph| %>
  <div style="float: left">
    <img src="data:image/png;base64,<%= Base64.encode64(graph[:png]) %>" usemap="#issuerelationsgraph<%= graph[:number] %>"/>
    <%= graph[:map] %>
  </div>
<% end %>
</div>
<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'graph', :plugin => "redmine_relations_graph" %>
<% end %>
<%= javascript_include_tag 'graph', :plugin => "redmine_relations_graph" %>

